/* Here we can set styles for this lab page that we don't want to effect others pages */
h1 {
    color: rgb(0, 200, 255);
    font-size: 200%
}

p {
  font-family: "comic sans";
  text-indent: 20px;
  margin-left: 20px;
}

#content {
  background-color: rgb(254, 247, 103);
  width: 1380px;
  min-height: 250px;
  padding: 10px;
  margin: 10px;
  border: solid 1px rgb(253, 253, 27);
  font-size: 20px;
}
/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }